:root {
    --color: #191919;
    --color-sec: #84848a;
    --bg-color: #f0efe9;
    --bg-white: #ffffff;
    --btn-color: #f9d783;
    
    --h-font: "DM Sans";
    --font: "Inter";

    font-size: 16px;
}

html {
    font-family: var(--font);
    color: var(--color);
}

.fa {
    font-weight: 300;
    color: var(--color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--h-font);
}

p { line-height: 1.5rem; }

a {
    color: var(--color);
    text-decoration: none;
}



body {
    max-width: 1920px;
    width: 100%;
}

header, main, footer {
    max-width: 1520px;
    width: 100%;
}

/* HEADER */
header {
    background-color: var(--bg-color);
    padding: 1rem;
}

.brand-wrapper {
    padding: 1rem;
}

.brand-text .h {
    font-family: var(--h-font);
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 1.75rem;
    font-style: normal;
}

.brand-text .t {
    color: var(--color-sec);
    font-size: 0.56rem;
    line-height: 0.69rem;
}

.contact {
    font-size: 0.94rem;
    font-weight: 300;
    border-bottom: 1px solid rgba(25,25,25,0.1);
}

.contact > div > i {
    padding-right: 0.5rem;
}

.tel-wrapper span, .mail-wrapper span {
    padding-right: 1rem;
    border-right: 1px solid rgba(25,25,25,0.1);
}


.contact > div, nav > a {
    padding: 1rem;
}

nav a::after {
    content: "";
    width: 1rem;
    display: block;
    margin: auto;
    border-bottom: 1px solid var(--color);
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

nav a:hover::after {
    opacity: 1;
}

#login-btn {
    background-color: var(--btn-color);
}

/* MAIN */
main {

    .hero {}

}


/* FOOTER */ 
footer {

}