:root {
  --color: #191919;
  --color-sec: #84848a;
  --bg-color: #f0efe9;
  --bg-white: #ffffff;
  --btn-color: #f9d783;
  --h-font: "DM Sans";
  --font: "Inter";
  font-size: 16px;
}

.container {
  max-width: 1520px;
}

#navbarNav section {
  width: 100%;
  display: grid;
  grid-template-areas: "contact social" "navi login";
  row-gap: 1rem;
}
#navbarNav section .contact {
  grid-area: contact;
  justify-content: start;
}
#navbarNav section .contact div {
  gap: calc(var(--bs-navbar-nav-link-padding-x) * 2);
}
#navbarNav section .contact div div {
  align-items: center;
  gap: 0;
}
#navbarNav section .contact div div i {
  padding-right: var(--bs-navbar-nav-link-padding-x);
}
#navbarNav section .social {
  grid-area: social;
  justify-content: end;
  gap: calc(var(--bs-navbar-nav-link-padding-x) * 2);
}
#navbarNav section .navi {
  grid-area: navi;
  justify-content: start;
  padding-top: 1rem;
  border-top: 1px solid #84848a;
}
#navbarNav section .navi ul {
  gap: var(--bs-navbar-nav-link-padding-x);
}
#navbarNav section .navi ul li a:first-child {
  padding-left: 0;
}
#navbarNav section .login {
  grid-area: login;
  justify-content: end;
  padding-top: 1rem;
  border-top: 1px solid #84848a;
}

@media (max-width: 768px) {
  #navbarNav section {
    grid-template-areas: "navi navi contact contact" "social social social login";
    row-gap: 0rem;
    -moz-column-gap: 0rem;
         column-gap: 0rem;
  }
  #navbarNav section .contact {
    grid-area: contact;
    gap: calc(var(--bs-navbar-nav-link-padding-x) * 2);
    justify-content: end;
  }
  #navbarNav section .contact div {
    flex-direction: column;
  }
  #navbarNav section .contact div div {
    flex-direction: row;
  }
  #navbarNav section .contact div div i {
    padding-right: calc(var(--bs-navbar-nav-link-padding-x) * 1.5);
  }
  #navbarNav section .contact div div .address {
    display: flex;
    flex-direction: column;
  }
  #navbarNav section .social {
    grid-area: social;
    justify-self: start;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--bs-navbar-nav-link-padding-x) * 4);
  }
  #navbarNav section .navi {
    grid-area: navi;
    justify-content: start;
    padding-top: 0;
    border-top: none;
  }
  #navbarNav section .navi ul {
    gap: 0;
  }
  #navbarNav section .navi ul li a:first-child {
    padding-left: 0;
  }
  #navbarNav section .login {
    grid-area: login;
    justify-content: end;
    padding-top: var(--bs-navbar-nav-link-padding-x);
    border-top: none;
  }
}