@import "utilities.scss";

/* MAIN.START-PAGE SECTIONS */
.start-page section.hero {
    position: relative;

    .container {

        .left {
            gap: 3rem;
            flex: 1;
        }

        .right {
            flex: 1;
            .showcase-img {
                width: 50vw;
                position: relative;
                bottom: 0;
                right: -50px;
            }
        }
        
        .btngroup {
            display: flex;
            gap: 1rem;
        }
    }
     
    img.bg-lines {
        max-width: 50dvw;
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }

}

.start-page section.logo-bar {
    background-color: $bg-white;

    .logos {
        justify-content: space-evenly;
        
        a {
            transition: scale .3s ease-in-out;
            &:hover, &:focus {
                scale: 1.2;
            }
        }
    }
}

.start-page section.features {
    background-color: $bg-white;
    

    .container {

        .box {
            border: 3px solid $bg-color;
            padding: 5rem;
            gap: 5rem;

            .col .left {

                .btn {
                    width: 100%;
                    margin-top: 3rem;
                }
            }

            .col .grid {
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: auto auto;
                gap: 2rem 5rem;
                
                div{
                    h3 {
                        font-size: 1.5rem;
                        margin: 1.5rem 0 1rem 0;
                    }
                }
         }
     }
    }
    
}

.start-page section.about {
    background-color: $bg-white;
    
    .container {

        .row {
            gap: 5rem;

            .left {
                position: relative;

                .image-wrapper {
                    

                    .image {
                        height: 700px;
                        width: 100%;
                        object-fit: cover;  
                        padding-left: 3rem;
                    }

                    .lines {
                        padding-left: 3rem;
                        width: 45%;
                        position: absolute;
                        top: 10%;
                        left: 0;
                    }
                }

                .box {
                    width: 60%;
                    padding: 2rem;
                    background-color: lightblue;
                    position: absolute;
                    bottom: 5rem;
                    left: 0;
                    box-shadow: -5px 10px 100px 10px $line-color;

                    p:first-of-type {
                        font-size: 1.25rem;
                        font-weight: 700;

                        span {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .right {
                padding: 1rem;

                h2 {
                    font-weight: 700;
                    text-transform: capitalize;
                }

                .btngroup {
                    gap: 3rem;
                }
            }
        }   
    }
}

.start-page section.service-fun {
    position: relative;

    h2 {
        max-width: 50%;
    }

    .cards {
        gap: 2rem;
        padding: 3rem 0;

        .card {
            border: none;
            padding: 3rem 2rem;
            justify-content: space-between;
            transition: all .3s ease-in-out;

            .line {
                height: 1px;
                width: 20%;
                background-color: $color-prim;
                margin-bottom: 2rem;
            }

            .btn-round {
                display: flex;
                justify-content: end;
                i {
                    background-color: $color-prim;
                    color: $bg-white;
                }
            }
            
            &:hover, &:focus {
                background-color: $btn-color;
                i {
                    background-color: $bg-white;
                    color: $color-prim;
                }
            }
        }  
    }

    .btngroup {
        .btn {
            width: fit-content;
        }
    }

    .lines {
        max-width: 50dvw;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
}

.start-page section.why-us {
    background-color: $bg-white;
    position: relative;
    padding-bottom: 0;

    .box {
        width: 55%;
        height: 60%;
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $bg-color;
    }

    .left {
        flex: 2;

        h2 {
            margin: 2rem 0;
        }

        .objects {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            a.object {
                color: $color-prim;
                gap: 2rem;
                justify-content: start;
                align-items: center;
            
                .icon {
                    height: 4.25rem;
                    width: 4.25rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $line-color;
                    border-radius: 50%;
                }

                &:hover, &:focus {
                    .icon {
                        border-color: transparent;
                        background-color: $color-prim;
                        color: $bg-white;
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: .1rem;

                    h3, p {
                        margin: 0;
                    }
                }
            }
        }
    }
    
    .right {
        flex: 3;
    
        .image-wrapper {
            padding-top: 4rem;
            width: 100%;

            img {
                width: 700px;
                height: 550px;
                float: right;
                object-fit: cover;
                position: relative;
                z-index: 5;
            }   
        }
    }
}

.start-page section.project-case {
    background-color: $bg-white;

    .grid {
        width: 100%;
        margin: 5rem 0;
        display: grid;
        gap: 3rem;
        grid-template-columns: calc(50% - 1.5rem) calc(50% - 1.5rem);
        grid-template-rows: calc(500px - 1.5rem) calc(500px - 1.5rem);
        

        a.object {
            color: $color-prim !important;
            height: 500px;
            width: 100%;

            *, > * {
                transition: all .4s;
            }

            img {
                    width: 100%;
                    height: 350px;
                    object-fit: cover;
                    display: block;
                }

            h3 {
                align-self: start;
                margin-top: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid $line-color;
                text-transform: none;  
            }

            .text {
                width: 100%;
                height: 0px;
                display: block;
                overflow: hidden;
                
            }

            .btngroup {
                padding-top: 1rem;
                display: flex;
                justify-content: end;

                .btn {
                    border: none;
                    padding: 0;  
                }
            }

            &:hover {
              
                h3 {
                    margin-top: 1rem;
                }

                img {
                    height: 0px;
                    display: block;
                }

                .text {
                    height: 350px;
                }

                .btngroup {

                    .btn:hover, .btn:focus  {
                        
                        background-color: transparent;
                        color: $color-prim;
                        border: none;
                    }
                }
            }
            
        }
    }
}

.start-page section.team {
    background-color: $btn-color;

    .btn-c {
        border: 1px solid $color-prim;
    }

    .cards {
        gap: 2rem;
        padding: 5rem 0 3rem 0;

        .card {
            background-color: transparent;
            border: none;
            flex: 1;

            img {
                height: 460px;
                object-fit: cover;
            }

            .text {
                margin-top: 2rem;
            }
        }
    }
}

.start-page section.testimonials {
    background-color: $btn-color;

    .container {
        padding: 7rem 0;
        background-color: $bg-white;
        align-items: center;

        .cards {
            padding: 7rem;
            gap: 7rem;

            .card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1rem;
                border: none;
                
                .stars {
                    letter-spacing: .5rem;
                }

                .quote {
                    line-height: 2rem;
                }

                .person {
                    gap: 1rem;
                    align-items: center;

                    img {
                        height: 5rem;
                        width: 5rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .text {
                        h3, p {
                            margin: 0;
                        }

                        p {
                            color: $color-highlight;
                        }
                    }
                }
            }
        }
    }
}

.start-page section.articles-news {
    background-color: $bg-white;

    .top {
        justify-content:space-between;
        align-items: end;
    }

    .cards {
        padding: 3rem 0;
        gap: 2rem;
        
        a {
            
            &, * {
                transition: all .3s ease-in-out;
            }

            .line {
                margin: 0 auto;
                width: 0%;
                height: 3px;
                background-color: $btn-color;
                
                
            }

            &:hover, &:focus {
                scale: 1.05;

                .line {
                    width: 100%;
                }
            }
        }

        .card {
            flex: 1;
            border: none;

            .image-wrapper {
                position: relative;

                img {
                    width: 100%;
                    max-height: 280px;
                    object-fit: fill;
                }

                .date-box {
                    height: 5rem;
                    width: 5rem;
                    background-color: $btn-color;
                    
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p.date, p.month {
                        margin: 0;
                        padding: 0;
                        line-height: 1.05;
                    }

                    .date {
                        font-size: 1.75rem;
                        font-weight: 700;
                    }
                }

            }
            
            .text {
                margin-top: 2rem;
            }  
        }
    }
}

.start-page section.newsletter {
    position: relative;

    .container {
        justify-content: space-between;
        align-items: center;

        form, fieldset {
            width: 100%;
        }

        form fieldset {
            display: flex;
            align-items: center;
            justify-content: space-between;

            legend {
                flex: 7;

                h2 {
                    margin: 0;
                }
            }

            .group { 
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 1rem;
                flex: 5;
            }
        }
    }

    img {
        position: absolute;
        right: 0;
    }
}

/* MEDIA QUERIES */
@media (max-width: 1590px) {
    /* SECTION.HERO 1590 */
    .start-page section.hero .container .right .showcase-img {
        right: 0;
    }
}

@media (max-width: 1520px) {
    /* SECTION.HERO 1520 */
    .start-page section.hero .container {
        .right {

            position: relative;
            .showcase-img {
                position: absolute;
            }
        }

        .left {
            gap: 0;

            .btngroup {
                padding-bottom: 3rem;
            }
        }
    }

    /* SECTION SERVICE 1520 */
    .start-page section.service-fun {
        h2 {
            max-width: 100%;
        }

        .cards {
            flex-wrap: wrap;

            .card {
                width: calc(50% - 1.5rem);
            }
        }
    }

    /* SECTION TESTIMONIALS 1520 */
    .start-page section.testimonials {
        padding: 0 0 7rem 0;
    }

     /* SECTION ARTICLES-NEWS 1520 */
     .start-page section.articles-news {
        .top {
            flex-direction: column;
            align-items: start;

            .btngroup {
                padding-top: 3rem;
            }
        }

        .cards {
            flex-wrap: wrap;

            .card {
                flex-basis: 45%;

                .image-wrapper img {
                    object-fit: cover;
                    aspect-ratio: 3 / 2;
                }

                &:first-child {
                    flex-basis: 100%;
                    
                    .image-wrapper img {
                        max-height: 100%;
                    }
                    
                }
            }
        }
    }

    /* SECTION NEWSLETTER 1520 */
    .start-page section.newsletter .container {
        flex-direction: column;
        align-items: start;
        gap: 3rem;

        form fieldset {
            flex-direction: column;
            gap: 1.5rem;
            align-items: start;
        }
    }
}


@media (max-width: 992px) { 
    /* SECTION HERO 992 */
    .start-page section.hero .container .right {
        display: none;
    }

    /* SECTION ABOUT 992 */
    .start-page section.about .container .row {
        flex-wrap: wrap-reverse;

        .right {
            .text {
                margin: 1rem 0;
            }
        }

        .left {
            padding: 0;
            .image-wrapper {
                .image, .lines {
                    padding-left: 0;
                }

                .lines {
                    width: 33%;
                }
            }

            .box {
                width: 100%;
                bottom: 0;
                box-shadow: none;
            }
        }
    }

    /* SECTION WHY US 992 */
    .start-page section.why-us {
    
        .right, .box {
            display: none;
        }

        .left .objects {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    /* SECTION PROJECTS 992 */
    .start-page section.project-case {

        .highlight, h2 {
            align-self: start;
        }

        .grid {
            grid-template-columns: 100%;
            grid-template-rows: auto;
            gap: 1rem 0;
            margin: 1rem 0;
        }
    }

    /* SECTION TEAM 992 */
    .start-page section.team .container {
        .top {
            flex-direction: column;
            
            .text {
                align-self: start;
            }

            .btngroup {
                padding-top: 3rem;
            }
        }

        .cards {
            flex-wrap: wrap;

            .card {
                flex-basis: 33%;
            }
        }
    }

    /* SECTION TESTIMONIALS 992 */
    .start-page section.testimonials .container {
        padding: 7rem 3rem;
        
        .highlight, h2 {
            align-self: start;
        }

        .cards {
            padding: 3rem 0;
            gap: 3rem;
            flex-direction: column;

            .card {
                gap: 0;
                padding: 0 3rem;
                align-items: center;

                .stars {
                    align-self: center;
                }

                .quote {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 768px) { 
    /* SECTION FEATURES 768 */
    .start-page section.features {
        .container .box {
            flex-direction: column;
            gap: 3rem;

            .col .grid {
                grid-template-columns: 45% 45%;
                grid-template-rows: auto;
                gap: 2rem;
            }
       }
    }
    
    /* SECTION SERVICE 768 */
    .start-page section.service-fun {
    
        .cards {
            .card {
                width: 100%;
            }
        }
    }

    /* SECTION ARTICLES-NEWS 768 */
    .start-page section.articles-news .container {
        .cards {
            gap: 2rem 0;

            .card {
                flex-basis: 100%;
            }
        }
     }

    /* SECTION NEWSLETTER 768 */
    .start-page section.newsletter {
        .container {
            form fieldset {
                .group {
                    flex-direction: column;
                    align-items: start;
                    width: 50dvw;
                    gap: 1.5rem;

                    label, input, button {
                        width: 100%;
                    }
                }
            }
        }
        img {
            bottom: 33%;
        }
    }
}

@media (max-width: 576px) { 
    /* SECTION FEATURES 576 */
    .start-page section.features .container {
     .box {
        padding: 3rem;

            .col .grid {
                grid-template-columns: 100%;
                grid-template-rows: auto;
                gap: 2rem 0;
            }
        }
    }

    /* SECTION ABOUT 576 */
    .start-page section.about .container {
       padding: 0;

        .row .right {
            padding: 0 2rem;
        }
    }

    /* SECTION TEAM 576 */
    .start-page section.team .container {
        
        .cards {
            .card {
                flex-basis: 100%;
            }
        }
    }

     /* SECTION TESTIMONIALS 576 */
     .start-page section.testimonials .container {
        padding: 3rem 1rem;
     }

     /* SECTION ARTICLES-NEWS 576 */
     .start-page section.articles-news .container {
        .top .btngroup {
            padding: 1rem 0;
        }

        .cards {
            .card {
                flex-basis: 100%;
            }
        }
     }

     /* SECTION NEWSLETTER 576 */
     .start-page section.newsletter .container {
        gap: 2rem 0;

        form fieldset{
            .group {
                width: 100%;

                label  {
                    input {
                        padding: 1rem 2rem;
                        position: relative;
                        z-index: 5;
                    }
                    .icon {
                        z-index: 10;
                    }
                }
            }
        }
     }
}